@model IEnumerable<University_Management_Platform.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Teachers</h1>

<form method="get" class="mb-3">
    <input name="firstName" value="@ViewBag.FirstName" placeholder="First Name" />
    <input name="lastName" value="@ViewBag.LastName" placeholder="Last Name" />
    <input name="degree" value="@ViewBag.Degree" placeholder="Degree" />
    <input name="academicRank" value="@ViewBag.AcademicRank" placeholder="Academic Rank" />
    <button type="submit">Filter</button>
    <a asp-action="Index">Clear</a>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Courses" asp-action="ByTeacher" asp-route-teacherId="@item.Id">Courses</a>
            </td>
        </tr>
}
    </tbody>
</table>
